@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

*{
  padding: 0%;
  margin: 0%;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color:#f3e5d8;
  margin-top: 20px;
}

.container {
  background-color: #ffffff;
  padding: 20px;
  height: 50%;
  width: 50%;
  border-radius: 10px;
}

.image {
  height: 100%;
  width: 100%;
}
img{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-bottom: 25px;
  height: 100%;
  width: 100%;
}

.hero h1{
  margin-bottom: 10px;
  color: #272624;
  font-family: "Young Serif", serif;
}
.hero p{
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 15px;
  color: #3e3e3e;
  font-family: "Outfit", sans-serif;
}

.preparation-time{
  background-color:#fff7fc;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 20px;
  font-family: "Outfit", sans-serif;
}
.preparation-time h1{
  color: #6d334b;
  margin-bottom: 10px;
}
.preparation-time ul{
  list-style-position: inside;
  padding:0 0 0 10px;
  line-height: 25px;
  color: #3e3e3e;
}
.preparation-time ul span{
  font-weight: 600;
  color: #272624;
}

/* .ingredients{

} */
.ingredients h1{
  font-family: "Young Serif", serif;
  margin-bottom: 10px;
  color: #7b4833;
}
.ingredients ul{
  list-style-position: inside;
  font-family: "Outfit", sans-serif;
  padding:0 0 20px 10px;
  margin-bottom: 10px;
  line-height: 30px;
}
/* how to change the color of the bullet */
li::marker{
  color: #7b4833;
}

/* .instruction{

} */
.instruction h1{
  font-family: "Young Serif", serif;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #7b4833;
}
.instruction ol{
  padding:0 0 20px 20px;
  margin-bottom: 10px;
  line-height: 23px;
  font-family: "Outfit", sans-serif;
}
.instruction li {
  padding-left: 10px;
  font-weight: 600;
}
.instruction ol span{
  font-weight: 600;
}

.nutrition{
  margin-top: 20px;
  font-family: "Outfit", sans-serif;
} 
.nutrition h1{
  font-family: "Young Serif", serif;
  margin-bottom: 10px;
  color: #7b4833;
}
.nutrition p{
  margin-bottom: 20px;
}

.table{
  font-family: "Outfit", sans-serif;
  display: grid;
}
.content{
  display:grid;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-left: 40px;
  grid-template-columns: 1fr 1fr;
}
.color{
  color: #7b4833;
  font-weight: 600;
}

footer{
  margin-top: 20px;
  text-align: center;
  font-family: "Outfit", sans-serif;
}
footer a{
  text-decoration: none;
}

