@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

*{
  padding: 0%;
  margin: 0%;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: hsl(14, 45%, 36%);
  margin-top: 20px;

    font-family: "Young Serif", serif;
    font-weight: 400;
  
      font-family: "Outfit", sans-serif;
      font-optical-sizing: auto;
  
}

.container {
  background-color: white;
  padding: 20px;
  height: 50%;
  width: 50%;
  border-radius: 10px;
}

.image {
  height: 100%;
  width: 100%;
 
}
img{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-bottom: 25px;
  height: 100%;
  width: 100%;
}

.hero h1{
  margin-bottom: 10px;
}
.hero p{
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 15px;
}

.preparation-time{
  background-color: hsl(30, 10%, 34%);
  padding: 30px;
  margin-bottom: 20px;
}
.preparation-time h1{
  margin-bottom: 10px;
}
.preparation-time ul{
  list-style-position: inside;
  padding:0 0 0 10px;
  line-height: 25px;
}
.preparation-time ul span{
  font-weight: 600;
}

/* .ingredients{

} */
.ingredients h1{
  margin-bottom: 10px;
}
.ingredients ul{
  list-style-position: inside;
  padding:0 0 20px 10px;
  margin-bottom: 10px;
  line-height: 30px;
}
/* how to change the color of the bullet */
li::marker{
  color: red;
}

/* .instruction{

} */
.instruction h1{
  margin-bottom: 10px;
  margin-top: 10px;
}
.instruction ol{
  padding:0 0 20px 20px;
  margin-bottom: 10px;
  line-height: 23px;
}
.instruction li {
  padding-left: 10px;
}
.instruction ol span{
  font-weight: 600;
}

.nutrition{
  margin-top: 20px;
} 
.nutrition h1{
  margin-bottom: 15px;
}

.table{
  margin: 20px;
}
.table span {
  margin-left: 250px;
}

.table2{
  margin: 20px;
}
.table2 span {
  margin-left: 269px;
}

.table3{
  margin: 20px;
}
.table3 span {
  margin-left: 260px;
}

.table4{
  margin: 20px;
}
.table4 span {
  margin-left: 285px;
}




footer{
  margin-top: 20px;
  text-align: center;
}
footer a{
  text-decoration: none;
}

